<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--
	Some old SQL DB connection
	<add name="DemandTrackerDBModelConnection" connectionString="Server=tcp:ordersrvdb0001.database.windows.net,1433;Initial Catalog=DXCOrdersDB;Persist Security Info=True;User ID=azureadmin;Password=Password!123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" providerName="System.Data.SqlClient" />
    Azure build in SQL DB
	<add name="DemandTrackerDBModelNew" connectionString="data source=ordersrvdb0001.database.windows.net;initial catalog=DXCOrdersDB;user id=azureadmin;password=Password!123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	Azure Standalone SQL DB
	<add name="DemandTrackerDBModelNew" connectionString="Server=tcp:15.95.151.184,443;Initial Catalog=DXCOrdersDB;Persist Security Info=True;User ID=sqladmin;Password=Password!123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" providerName="System.Data.SqlClient" />
	Old Azure build in SQL DB
	<add name="DemandTrackerDBModel" connectionString="data source=ordersrvdb0001.database.windows.net;initial catalog=DXCOrdersDB;user id=azureadmin;password=Password!123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	
	<add name="DemandTrackerDBModelNew" connectionString="data source=13.95.151.184,443;initial catalog=DXCOrdersDB;user id=sqladmin;Password=Password!123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	<add name="DemandTrackerOrderInfoDBModel" connectionString="data source=13.95.151.184,443;initial catalog=DXCOrdersDB;user id=sqladmin;password=Password!123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	<add name="DemandTrackerDBModelv10" connectionString="data source=13.95.151.184,443;initial catalog=DXCOrdersDB;user id=sqladmin;password=Password!123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	-->
    <add name="DemandTrackerDBModelv13" connectionString="metadata=res://*/DemandTrackerDBModelv13.csdl|res://*/DemandTrackerDBModelv13.ssdl|res://*/DemandTrackerDBModelv13.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.95.151.184,443;initial catalog=DXCOrdersDB;persist security info=True;user id=sqladmin;password=Password!123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>